body{
    color: white;
    background-color: black ;
}
/* control + espaço mostra as opção do auto complete */

header{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: pink;
}

section{
    background-color: rgb(143, 79, 143);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

