body{
    color: white;
    background-color: black ;
}
/* control + espaço mostra as opção do auto complete */

header{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: pink;
    color: black;
    font-size: 40px;
}

section{
    background-color: rgb(143, 79, 143);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{ /*a primeira div*/
    margin-right: 100px;
}

